.scrollToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
}

.scrollButton {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition:
    opacity 0.6s ease-in-out,
    transform 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.scrollButton:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
