.scheduleSection {
    padding: var(--section-padding);
}

.daySelector {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 2.5rem;
    flex-wrap: wrap;
}

.dayBtn {
    background-color: transparent;
    border: 1px solid var(--dark-border);
    color: var(--dark-text-secondary);
    padding: 0.75rem 1.25rem;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
}



.dayBtn:hover {
    background-color: var(--accent);
    border-color: var(--accent);
    color: #fff;
}

.dayBtn.active {
    background-color: var(--accent);
    border-color: var(--accent-purple-dark);
    color: #fff;
    font-weight: 700;
    box-shadow: 0 0 10px var(--accent-purple);
}

.dayName {
    font-weight: 600;
    font-size: 1rem;
}

.dayDate {
    font-size: 0.8rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1.5rem;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}